#btn-1{
    position:absolute; top:175px;
}​
.ctr{
    text-align: center;
}
.carousel img {
    height: auto;
}
.quotes{
    font-family: ariel;
    font-size: 35px;
    position: relative;
    top: 7px;
    padding: 1px;
}
.fixh {line-height: 25px;}
img.logo30h{
    position: relative; 
    top: -4px; left: -2px;
}
p.text-black{
    color: #000000;
}
div.bg-white {
    opacity: 0.75; 
    filter: alpha(opacity=75); /* For IE8 and earlier */
    margin: 2px;
    text-align: center;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

p.homeText {
    margin-bottom: .5rem;
}