.jumbotron {
    color: #fff;
    padding-bottom: 25px;
}

.plan {
    background-color: rgba(70, 178, 224, .1);
}

.p-program{
    position: absolute;
    bottom: 0;
    margin-left: 23px;
}

.rel{
    position: relative;
}

.padd25{
    margin-bottom: 50px;
}
